body{
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaaa;
    text-align: center;
    width: 300px;
}

