body{
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,rgb(8, 8, 72), rgb(21, 50, 129), rgb(22, 85, 210),rgb(61, 147, 232));
    padding: 150px;
}


.container{
    background-color: white;
    padding: 30px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.663);
}

.content {
    margin: auto;
    margin-bottom: 20px;
}

select{

    width: 380px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.449);
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    margin-left: auto;
}

#label{
    margin-top: 20px;
}


input{
    width: 355px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.449);
    margin-left: auto;
}

label{
    display: flex;
    align-items: center;
    margin-left: auto;
}

button{
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #41474d;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    transition: 0.4s
    
}

button:hover{
    background-color: #1464ba;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td{
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

th{
    background-color: #214ba0;
    color: white;
}


