body{
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(8, 8, 72), rgb(26, 26, 192), rgb(30, 105, 254),rgb(61, 147, 232));
    padding: 150px;
    

}

.container{
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.663);
}

input, select, button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

#resultado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    font-size: 18px;
}
