<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de INSS 2025</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    
</head>
<body>
    <div class="container">
        <div>
            
            <h1>Calculadora de INSS 2025</h1>
            
            <label for="salario">Salário:</label>
            <input type="number" id="salario" name="salario" step="0.01" min="0" placeholder="Informe quanto ganha o segurado." required><br><br>
    
            <label for="segurado">Tipo de segurado:</label>
            <select id="segurado" onchange="selecionar()">
                <option value="empregado">Empregado</option>
                <option value="empregado doméstico">Empregado doméstico</option>
                <option value="trabalhador avulso">Trabalhador avulso</option>
                <option value="contribuinte individual">Contribuinte individual</option>
                <option value="segurado facultativo">Segurado facultativo</option>
                <option value="segurado especial">Segurado especial</option>
                <option value="empresário">Empresário</option>
            </select>

            <label for="modalidade" id="label">Modalidade:</label>
            <select id="modalidade">
                <option value="">Sem modalidade</option>
            </select>

            <button onclick="calcularINSS()">Calcular</button>
        </div>

        <div id="resultado"></div>
    </div>
    <script>
        function selecionar(){

            let segurado = document.getElementById("segurado").value
            let modalidade = document.getElementById("modalidade")
            
            if (segurado == "contribuinte individual"){
                modalidade.innerHTML =
                 `<option value="plano simplificado">Plano simplificado</option> 
                  <option value="plano normal">Plano normal</option>`

            } else if (segurado == "segurado facultativo"){
                modalidade.innerHTML = 
                    `<option value="plano simplificado">Plano simplificado</option> 
                     <option value="plano normal">Plano normal</option>
                     <option value="baixa renda">Baixa renda</option>`
            } else {
                modalidade.innerHTML = `<option value="">Sem modalidade</option>`
                
            }
        }

        async function calcularINSS() {

            const salario = parseFloat(document.getElementById("salario").value)
            const segurado = document.getElementById("segurado").value
            const modalidade = document.getElementById("modalidade").value

            const response = await fetch("/calcular", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json" 
                },
                body: JSON.stringify({ salario, segurado, modalidade})
            });
            
            const data = await response.json()
            const resultado = document.getElementById("resultado")
            const liquido = salario - data.inss
            
            if (response.ok) {
                resultado.innerHTML = 

                `<table>
                        <tr>
                            <th>Salário Bruto</th>
                            <th>Alíquota aplicada</th>
                            <th>Desconto INSS</th>
                            <th>Salário Líquido</th>
                            
                        </tr>
                        <tr>
                            <td>R$ ${salario.toFixed(2)}</td>
                            <td>${data.aliquota}%</td>
                            <td>${data.inss.toFixed(2)}</td>
                            <td>R$ ${liquido.toFixed(2)}</td>
                        </tr>`

            } else {
                resultado.innerHTML = `<p style="color:red;">${data.error}</p>`
            }
            
        }
    </script>
</body>
</html>
