<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de INSS 2025</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
</head>
<body>
    <div class="container">
        <h1>Calculadora de INSS 2025</h1>
        <div>

            <label for="salario">Informe seu salário:</label>
            <input type="number" id="salario" name="salario" step="0.01" required><br><br>
    
            <label for="vinculacao">Informe o tipo de vinculação profissional:</label>
            <select id="vinculacao" required>
                <option value="clt">CLT</option>
                <option value="autônomo plano comum">Autônomo (plano comum)</option>
                <option value="autônomo plano simplificado">Autônomo (plano simplificado)</option>
                <option value="autônomo cooperado">Autônomo cooperado</option>
                <option value="empresário">Empresário</option>
            </select>
    
            <button onclick="calcularINSS()">Calcular</button>
        </div>

        <div id="resultado"></div>
    </div>
    <script>
        async function calcularINSS() {

            const salario = document.getElementById("salario").value;
            const vinculacao = document.getElementById("vinculacao").value;

            const response = await fetch("/calcular", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json" 
                },
                body: JSON.stringify({ salario, vinculacao })
            });

            const data = await response.json();
            const resultado = document.getElementById("resultado");

            if (response.ok) {
                resultado.innerHTML = `<p>Você pagará <strong>R$${data.inss}</strong> de INSS.<br>A aliquota aplicada foi de <strong>${data.aliquota}%.</strong></p>`;
            } else {
                resultado.innerHTML = `<p>Você pagará <strong>R$${data.inss}</strong> de INSS. <br>A aliquota aplicada foi de <strong>${data.aliquota}%.</strong></p>`;
            }
            
        }
    </script>
</body>
</html>
